{% extends "layout.html" %}
{% block content %}
<link rel="stylesheet" href="../static/styles/layout.css">
<div id="login_form">
    <p>To sign in, input your Username and Password below:</p>
    <form method="POST" action="{{url_for('login')}}"> <!-- add in action from FLASK -->
        <label for="username">Username:</label><input
            class="form-control" type="text" id="username"
            name="username" required><br/>
        <label for="password">Password:</label><input
            class="form-control" type='password' id="password"
            name="password" required>
        <button type="submit" name="submit_button">Login</button>
    </form>

    <p> {{user}}  </p>
</div>

<section>
    <a href="{{ url_for('home') }}">Home</a>
</section>
{% endblock %}