table{
    width:100%;
    border: 1px solid;
    margin-left: auto;
    margin-right: auto;
}
th{
    padding: 15px;
}
td{
    padding: 5px;
}
.error{
    color: red;
}
.low{
    background-color:rgba(255, 0, 0, .7);
}
.medium{
    background-color: rgba(255, 255, 0, .7);
}
.high{
    background-color: rgba(0,255,0, .7);
}